@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    padding:0;
    margin:0;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: robotoregular;
  }
.container{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.2fr 4.8fr;
}
.sidebar{
    background-color: #1992d4;
    grid-row: 1 / 3;
    display:grid;
    gap:40px;
    grid-auto-rows: max-content;
    padding:20px;
}
.logo{
    display:grid;
    grid-template-columns: max-content max-content;
    color:white;
    grid-gap:15px;
}
.nav{
    display:grid;
    gap: 15px;
    grid-template-columns: max-content max-content;
    grid-auto-rows: max-content;
}
.nav a{
    text-decoration: none; 
    color:white;
    font-weight: bolder;
    font-size: 20px;
}
.main-content{
    background-color: #e2e8f0;
    display:grid;
    gap:25px;
    grid-template-columns: 3.8fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px 25px 50px 15px;
}
.projects{
    grid-row: 1 / 3;
    display:grid;
    gap:25px;
    grid-template-columns:  auto auto;
    grid-template-rows: max-content auto auto auto;

}
.projects h2{
    grid-column: 1 / 3;
}
.project{
    padding: 20px;
    background:repeating-linear-gradient(
        90deg,
        #f0b429,
        #f0b429 10px,
        white 10px,
        white 2000px
        );
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display:grid;
    grid-template-rows: max-content 1fr max-content;

}
.project-icons{
    display:grid;
    grid-template-columns: repeat(3, 24px);
    justify-content: end;
    gap: 15px;
}
.announcements{
    display: grid;
    gap:25px;
    grid-template-rows: max-content max-content;
  
}
.announcement-wrapper{
    padding: 25px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    gap:15px;
    font-size: .9em;
    grid-template-rows: repeat(5, max-content);

}
hr.solid {
	border: 0;
	border-top: 2px solid #bbb;
  }
.trending{
    display: grid;
    gap:25px;
    grid-template-columns: auto;
    grid-template-rows: max-content auto;
}
.trending-wrapper{
    padding: 25px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    gap:15px;
    justify-content: center;
}
.trending-item{
    display:grid;
    gap:0px;
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
    align-items: center;
}
.trending-item svg{
    grid-row: 1 / 3;
    padding: 0 10px 0 0;
}

.trending-item>*:nth-child(2){
    align-self: end;
}
.trending-item>*:nth-child(3){
    align-self: start;
}

.header{
    display:grid;
    grid-template-rows: 1fr 1.5fr;
    gap:15px;
    padding: 0 45px 0 0;
}
.headertop{
    padding: 15px 25px 0 45px;
    display:grid;
    grid-template-columns: max-content 5fr 1fr max-content max-content;
    gap: 20px;
    align-items: center;
}
.headertop>*:nth-child(3){
    justify-self: end;
}
.search{
    height: 2.2em;
    border-radius: .9em;
    background-color: #e2e8f0;
    border: none;
}
.headerbottom{
    display:grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    gap: 20px;
    align-items: center;
    padding: 0 25px 15px 45px;
}
button{
    font-family: robotoregular;
    font-weight: bolder;
    font-size: 1em;
    background-color: #1992d4;
    border-radius: 2em;
    border: none;
    padding:.7em 2em;
    color:white;
}